
sound/announcers/schwarzenegger/2_win.wav
sound/announcers/schwarzenegger/2_ex_3.wav
sound/announcers/schwarzenegger/2_ex_2.wav
sound/announcers/schwarzenegger/2_ex_1.wav
sound/announcers/schwarzenegger/1_win.wav
sound/announcers/schwarzenegger/1_ex_3.wav
sound/announcers/schwarzenegger/1_ex_2.wav
sound/announcers/schwarzenegger/1_ex_1.wav
